@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');


html {
    box-sizing: border-box;
    font-size: 14px;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: 500;
    padding-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
  }

.main-container{
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: #f2ebe3;
    min-height: 97vh;
}
.card{
    max-width: 710px;
    display: grid;
    margin: 1rem;
    background-color: #ffffff;
    border-radius: .7rem;
    overflow: hidden;
    line-height: 1.6rem;
}
.img1{
    display: none;
}
img{
    width: 100%;
    height: auto;
}
.text-holder{
    display: grid;
    gap: 1rem;
    padding: 2rem;
}
.spaced{
    letter-spacing: .2rem;
}
.prices{
    display: flex;
    align-items: center;
    gap: 1rem;
}
button{
    display: flex;
    background-color: #3c8067;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: .5rem;
    border-radius: .7rem;
    color: #ffffff;
    width: 100%;
    height: 3.5rem;
    font-weight: 700;
    font-size: 1rem;
    border: none;
}
button:hover{
    background-color: #1b4334;
}
.svg-img{
    height: 100%;
    width: auto;
}

.secondary-color{
    color: #6c7289;
}
.primary-color{
    color:#1c232b;
}
.third-color{
    color: #3c8067;
}
.bold-francus{
    font-family: 'Fraunces', serif;
    font-size: 2.2rem;
    line-height: 2.2rem;
}
.cutted{
    text-decoration: line-through;
}
@media (min-width:750px) {
    html{
        font-size: 17.766px;
    }
    .card{
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr;
    }
    .img2{
        display: none;
    }
    .img1{
        display: block;
    }
    img{
        height: auto;
        width: 100%;
    }
    .text-holder{
        align-items: center;
    }
}